*{padding:0;margin:0;}
form{position:absolute;top:20px;left:20px;}
#container{display:none;overflow:hidden;position:relative;background:rgba(0,0,0,0.5);box-sizing:border-box;height:100vh;width:100vw;}
.point{z-index:10;display:block;position:absolute;height:4px;width:4px;border-radius:50%;background:black;}
.line{height:1px; background-color:red; line-height:1px; position:absolute;}